n8n_expense_tracker.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        16
      ],
      "id": "fcef8766-dc92-4d50-929e-ceba016a405f",
      "name": "Telegram Trigger",
      "webhookId": "36d94a96-93a7-474e-9a51-825dd9bd5ff7",
      "credentials": {
        "telegramApi": {
          "id": "sxknCRIi4f0G4rp1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "526f5fd6-141a-4148-bd85-8527c24c67bf",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        16
      ],
      "id": "3ed4a1c9-7046-4206-b44a-5c2d02c83717",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an expense tracking assistant. Extract financial information from user messages.\n\nReturn ONLY a valid JSON object with these exact fields:\n\n{\n\"type\": \"Expense\" or \"Income\",\n\"amount\": number only (no currency symbols),\n\"category\": \"Food | Transport | Shopping | Bills | Entertainment | Health | Travel | Salary | Freelance | Other\",\n\"description\": \"Brief 3-5 word description\",\n\"date\": \"YYYY-MM-DD\"\n}\n\nDETECTION RULES:\n\nWords like spent, paid, bought, ordered, ate, purchased, bill = Expense\nWords like received, earned, got, salary, credited, income = Income\nCATEGORY RULES:\n\nFood items (Maggi, pizza, dinner, lunch, coffee, restaurant, zomato, swiggy) = Food\nCab, auto, uber, ola, petrol, metro, bus, parking = Transport\nClothes, shoes, electronics, amazon, flipkart, gadgets = Shopping\nElectricity, wifi, recharge, rent, water, gas = Bills\nMovie, netflix, game, concert, party = Entertainment\nMedicine, doctor, hospital, pharmacy = Health\nHotel, flight, train ticket, trip = Travel\n\nDATE RULES:\n\nIf date mentioned (like \"21st December\" or yesterday) = Convert to YYYY-MM-DD\n\"Today's date: 2025-12-21\n\"Yesterday\" = 2025-12-20\nNo date mentioned = Use today's date\n\nOUTPUT ONLY THE JSON. No explanations. No markdown. No backticks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        -80
      ],
      "id": "041195f1-f42c-410e-8ced-742066535bcb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "groq/compound",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        240,
        176
      ],
      "id": "5f3787a2-e0c2-419a-954e-ab07e8d74ee4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "w8hwXsMOWLC8ZbX9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $json.output;\n\n// Extract JSON from response (handles markdown code blocks too)\nlet jsonStr = response;\nif (response.includes('```')) {\n    response.match(/```(?:\\w*\\n)?([\\s\\S]*?)```/)[1];\n    jsonStr = response.match(/```(?:\\w*\\n)?([\\s\\S]*?)```/)[1];\n}\n\nconst data = JSON.parse(jsonStr.trim());\n\nreturn {\n    type: data.type,\n    amount: parseFloat(data.amount),\n    category: data.category,\n    description: data.description,\n    date: data.date\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -80
      ],
      "id": "5637a386-49b0-4d7a-8d42-54e557a4cd59",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mssibG7cUm0IxvV-MGML_0tSeKTOdAd-A0KnNgMy0nw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mssibG7cUm0IxvV-MGML_0tSeKTOdAd-A0KnNgMy0nw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "type": "={{ $json.type }}",
            "amount": "={{ $json.amount }}",
            "description": "={{ $json.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -80
      ],
      "id": "c37a6393-86cf-49b0-9cf1-eca4df62be83",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eU4qwchKjWCsKgtr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.Type }} Locked! \n{{ $json.Amount }} -> {{ $json.Category }} \n{{ $json.Description }}\n{{ $json.Date }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -80
      ],
      "id": "b46be47a-9601-446e-bbaf-ce52dfcc4dad",
      "name": "Send a text message",
      "webhookId": "db10acf4-599b-49e2-b33d-c800d26ed873",
      "credentials": {
        "telegramApi": {
          "id": "sxknCRIi4f0G4rp1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ab9c41cd-43b0-409d-8e24-9b1c7556459c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ac34373c1a05ac5f0625063306fc83c5daee8d510ac9312c114172e93be9b2c"
  },
  "id": "jnPTGarPx4xyCkU8",
  "tags": []
}